.custom-btn-down {
    padding-left: 40%;
    padding-right: 0%;
    visibility: visible;
}

.custom-btn {
    opacity: 75%;
    visibility: visible;
}

.custom-btn:hover {
    cursor: pointer;
    opacity: 95%;
}