.custom-btn-down {
    padding-left: 40%;
    padding-right: 0%;
    visibility: visible;
}

.custom-btn {
    /* opacity: .80; */
    visibility: visible;
}

.custom-btn:hover {
    /* opacity: 1; */
    cursor: pointer;
}